<% provide(:title, "Log in") %>
<h1>ログイン</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(url: login_path, scope: :session) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password, "パスワード" %>
            <%= link_to "パスワードを忘れたとき", new_password_reset_path %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "chekbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>次回からのログインを省略</span>
            <% end %>

            <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>
        
        <p>アカウントをお持ちでない方 <%= link_to "アカウント作成", signup_path %></p>

    </div>
</div>