<div class="tierliststitle">
  <h1>Tier lists</h1>
</div>

<ul class="tierlists">
  <% @tierlists.each do |tierlist| %>
    <li id="tierlist-<%= tierlist.id %>">
      <%= link_to gravatar_for(tierlist.user, size: 50), tierlist.user %>
      <span class="user"><%= link_to tierlist.user.name, tierlist.user %></span>
      <span class="content">
        <%= link_to tierlist.list, tierlist_path(tierlist) %>
      </span>
      <span class="timestamp">
        <%= time_ago_in_words(tierlist.created_at) %> ago.
        <% if current_user?(tierlist.user) or tierlist.editable_by_anyone? %>
          <%= link_to "delete", tierlist, 
          data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>