<% provide(:title, "ティアリスト一覧") %>
<h1>ティアリスト一覧</h1>
<ul class="tierlists">
  <% @tierlists.each do |tierlist| %>
    <li id="tierlist-<%= tierlist.id %>">
      <%= link_to gravatar_for(tierlist.user, size: 50), tierlist.user %>
      <span class="user"><%= link_to tierlist.user.name, tierlist.user %></span>
      <span class="content">
        <%= link_to tierlist.list, tierlist_path(tierlist) %>
        <div class="thumbnail-container">
          <table class="tierlist-table thumbnail">
            <tbody>
              <% tierlist.tierlistitems.group_by(&:rank).sort.each do |rank, items| %>
                <tr class="rank-<%= rank %>">
                  <td>
                    <strong>
                      <% case rank %>
                      <% when 1 %>
                        S
                      <% when 2 %>
                        A
                      <% when 3 %>
                        B
                      <% when 4 %>
                        C
                      <% when 5 %>
                        D
                      <% when 6 %>
                        E
                      <% else %>
                        <%= rank %>
                      <% end %>
                    </strong>
                  </td>
                  <td>
                    <ul class="tierlist-items-inline">
            <% items.sort_by(&:position).each do |item| %>
              <li>
                <div class="tierlist-item">
                  <div class="tierlist-item-name">
                    <%= item.listitem %>
                  </div>
                  <div class="tierlist-item-img">
                    <%= image_tag item.image.variant(resize: "100x100") if item.image.attached? %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </span>
      <span class="timestamp">
        <%= time_ago_in_words(tierlist.created_at) %> ago.
        <% if current_user?(tierlist.user) or tierlist.editable_by_anyone%>
          <%= link_to "削除", tierlist,
          data: { "turbo-method": :delete, turbo_confirm: "削除しますか?" } %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>