<% if @can_add_item %>
  <%= form_with(model: [@tierlist, Tierlistitem.new], local: true) do |form| %>
    <% if form.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <% form.object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "追加アイテム" %>
      <%= form.text_field :listitem, id: "listitem_field" %>
    </div>
    <div class="field">
      <%= form.label "TIERを選択" %>
      <%= form.select :rank, options_for_select([['S', 1], ['A', 2], ['B', 3], ['C', 4], ['D', 5], ['E', 6]]) %>
    </div>
    <div class="actions">
      <%= form.submit "追加", id: "submit_button", disabled: true %>
    </div>
    <div>
      <%= link_to 'ティアリスト設定', edit_tierlist_path(@tierlist), class: 'btn btn-info' %>
    </div>
  <% end %>
<% end %>

<table class="tierlist-table">
  <tbody>
    <% @tierlistitems&.group_by(&:rank)&.each do |rank, items| %>
      <tr class="rank-<%= rank %>">
        <td>
          <strong>
            <% case rank %>
            <% when 1 %>
              S
            <% when 2 %>
              A
            <% when 3 %>
              B
            <% when 4 %>
              C
            <% when 5 %>
              D
            <% when 6 %>
              E
            <% else %>
              <%= rank %>
            <% end %>
          </strong>
        </td>
        <td>
          <ul class="tierlist-items-inline">
            <% items.sort_by(&:position).each do |item| %>
              <li>
                <%= item.listitem %>
                <% if @can_add_item %>
                  <%= link_to "削除", tierlist_tierlistitem_path(@tierlist, item), data: { "turbo-method": :delete, turbo_confirm: "削除しますか?" } %>
                  <div class="vote-buttons">
                    <%= button_to " up ", tierlist_tierlistitem_votes_path(@tierlist, item, vote_type: 'up'), method: :post, class: 'vote-button upvote' %>
                    <%= button_to "stay", tierlist_tierlistitem_votes_path(@tierlist, item, vote_type: 'stay'), method: :post, class: 'vote-button stay' %>
                    <%= button_to " down ", tierlist_tierlistitem_votes_path(@tierlist, item, vote_type: 'down'), method: :post, class: 'vote-button downvote' %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  document.addEventListener("turbo:load", function() {
    const listitemField = document.getElementById("listitem_field");
    const submitButton = document.getElementById("submit_button");

    function toggleSubmitButton() {
      submitButton.disabled = !listitemField.value.trim();
    }

    listitemField.addEventListener("input", toggleSubmitButton);
    toggleSubmitButton(); // 初期ロード時にボタンの状態を設定
  });
</script>