<% if @can_add_item %>
  <%= form_with(model: [@tierlist, Tierlistitem.new], local: true) do |form| %>
    <% if form.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <% form.object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "追加アイテム" %>
      <%= form.text_field :listitem, id: "listitem_field" %>
    </div>
    <div class="field">
      <%= form.label "TIERを選択" %>
      <%= form.select :rank, options_for_select([['S', 1], ['A', 2], ['B', 3], ['C', 4], ['D', 5], ['E', 6]]) %>
    </div>
    <div class="field">
      <span class="image">
        <%= form.file_field :image %>
      </span>
    </div>
    <div class="actions">
      <%= form.submit "追加", id: "submit_button"%>
    </div>
    <div>
      <%= link_to 'ティアリスト設定', edit_tierlist_path(@tierlist), class: 'btn btn-info' %>
    </div>
  <% end %>
<% end %>

<div class="ad-container">
  <!-- admax -->
  <script src="https://adm.shinobi.jp/s/00ef48a69f22cb03b5897c0e01867e50"></script>
  <!-- admax -->
</div>

<table class="tierlist-table">
  <tbody>
    <% @tierlistitems&.group_by(&:rank)&.each do |rank, items| %>
      <tr class="rank-<%= rank %>">
        <td>
          <strong>
            <% case rank %>
            <% when 1 %>
              S
            <% when 2 %>
              A
            <% when 3 %>
              B
            <% when 4 %>
              C
            <% when 5 %>
              D
            <% when 6 %>
              E
            <% else %>
              <%= rank %>
            <% end %>
          </strong>
        </td>
        <td>
          <ul class="tierlist-items-inline">
            <% items.sort_by(&:position).each do |item| %>
              <li>
                <div class="tierlist-item">
                  <div class="tierlist-item-name">
                    <%= item.listitem %>
                  </div>
                  <div class="tierlist-item-img">
                    <%= image_tag item.image.variant(resize: "100x100") if item.image.attached? %>
                  </div>
                </div>
                    <% if @can_vote %>
                      <div class="vote-buttons">
                        <div class="buttons-container">
                            <% if @can_add_item %>
                              <%= link_to "削除", tierlist_tierlistitem_path(@tierlist, item), data: { "turbo-method": :delete, turbo_confirm: "削除しますか?" }, class: 'delete-button' %>
                            <% end %>
                          </div>
                        <%= button_to "up", tierlist_tierlistitem_votes_path(@tierlist, item, vote_type: 'up'), method: :post, class: 'vote-button upvote' %>
                        <%= button_to "stay", tierlist_tierlistitem_votes_path(@tierlist, item, vote_type: 'stay'), method: :post, class: 'vote-button stay' %>
                        <%= button_to "down", tierlist_tierlistitem_votes_path(@tierlist, item, vote_type: 'down'), method: :post, class: 'vote-button downvote' %>
                      </div>
                    <% end %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  document.addEventListener("turbo:load", function() {

    function toggleSubmitButton() {
      submitButton.disabled = !listitemField.value.trim();
    }

    listitemField.addEventListener("input", toggleSubmitButton);
    toggleSubmitButton(); // 初期ロード時にボタンの状態を設定
  });
</script>