<% if @can_add_item %>
  <%= form_with(model: [@tierlist, Tierlistitem.new], local: true) do |form| %>
    <% if form.object.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <ul>
            <% form.object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "追加アイテム" %>
      <%= form.text_field :listitem %>
    </div>
    <div class="field">
      <%= form.label "TIERを選択" %>
      <%= form.select :rank, options_for_select([['S', 1], ['A', 2], ['B', 3], ['C', 4], ['D', 5], ['E', 6]]) %>
    </div>
    <div class="actions">
      <%= form.submit "追加" %>
    </div>
  <% end %>
<% end %>

<ul class="tierlist-items">
  <% @tierlistitems.group_by(&:rank).each do |rank, items| %>
    <li>
      <strong>
        Rank: 
        <% case rank %>
        <% when 1 %>
          S
        <% when 2 %>
          A
        <% when 3 %>
          B
        <% when 4 %>
          C
        <% when 5 %>
          D
        <% when 6 %>
          E
        <% else %>
          <%= rank %>
        <% end %>
      </strong>
      <ul>
        <% items.each do |item| %>
          <li>
            <%= item.listitem %>
            <% if @can_add_item %>
              <%= link_to "削除", tierlist_tierlistitem_path(@tierlist, item), data: { "turbo-method": :delete, turbo_confirm: "削除しますか?" } %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>