<% provide(:title, @title) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <%= gravatar_for @user%>
            <h1><%= @user.name %></h1>
            <span><%= link_to "プロフィールを見る", @user %></span>
            <%
=begin%>
 <span><strong>Microposts:</strong> <%= @user.microposts.count %></span> 
<%
=end%>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
            <% if @users.any? %>
            <%# @usersにはアクションfollowingから呼び出されたら@user.following,
                followersから呼び出されたら@user.followersが代入されているため
                @users.any?でフォロワー/フォローイングが一人でもいるか分岐できる%>
                <div class="user_avatars">
                    <% @users.each do |user| %>
                        <%= link_to gravatar_for(user, size: 30), user %>
                    <% end %>
                </div>
            <% end %>
        </section>
    </aside>
    <div class="col-md-8">
        <h3><%= @title %></h3>
        <% if @users.any? %>
            <ul class="users follow">
                <%= render @users %>
            </ul>
            <%= will_paginate %>
        <% end %>
    </div>
</div>