<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
            <%= render 'shared/stats' %>
        </section>
        <section class="tierlist_form">
            <%= render 'shared/tierlist_form' %>
        </section>
        <%
=begin%>
 <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
        </section> 
<%
=end%>
    </aside>
    <div class="col-md-8">
        <%
=begin%>
 <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %> 
<%
=end%>
        <h3>ティアリスト</h3>
        <%= render 'shared/tierlist_feed' %>
    </div>
</div>
